* {
  box-sizing: border-box;
}

body {
  background-color: #fcf5c7;
  min-height: 100vh;
  margin: 0;
  padding: 10px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  display: flex;
  justify-content: center;
}

#caesohcontiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 15px;
}

#balance {
  border: rgb(255, 140, 0) 5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc09f;
  border-radius: 5%;
  height: 150px;
  font-size: x-large;
}

#balanceamount {
  text-align: center;
  margin: 0;
}

#foodcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* Base styles for all buttons in the grid */
.items,
#clear,
#total {
  width: 100%;
  border: 3px solid #5c5c5c;
  border-radius: 10%;
  padding: 8px;
  font-family: inherit;
  cursor: pointer;
  display: flex;
}
.items {
  aspect-ratio: 1;
}

/* Food item numbers aligned to the bottom right */
.items {
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Next and Total text perfectly centered */
#clear,
#total {
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #ffee93;
  border-color: #b58d15;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#moneycontainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.notes {
  border: rgb(94, 94, 167) 2px solid;
  border-radius: 5%;
  background-color: #a0ced9;
  aspect-ratio: 1/2;
  width: 100%;
  font-family: inherit;
  cursor: pointer;
}

#credits {
  background-color: beige;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

/* Backgrounds for items */
#rolls {
  background: #adf7b6 url(images/rolls.svg) no-repeat center;
}
#patties {
  background: #adf7b6 url(images/patties.svg) no-repeat center;
}
#cutlet {
  background: #adf7b6 url(images/cutlet.svg) no-repeat center;
}
#sandwich {
  background: #adf7b6 url(images/sandwich.svg) no-repeat center;
}
#string {
  background: #adf7b6 url(images/string.svg) no-repeat center;
}
#pasta {
  background: #adf7b6 url(images/pasta.svg) no-repeat center;
  background-size: 60%;
}
#noodles {
  background: #adf7b6 url(images/noodles.svg) no-repeat center;
  background-size: 80%;
}
#rice {
  background: #adf7b6 url(images/rice.svg) no-repeat center;
  background-size: 70%;
}
#icecream {
  background: #adf7b6 url(images/icecream.svg) no-repeat center;
  background-size: 60%;
}
#hotdawg {
  background: #adf7b6 url(images/hotdog.svg) no-repeat center;
  background-size: 70%;
}
#chickpea {
  background: #adf7b6 url(images/chickpea.svg) no-repeat center;
  background-size: 70%;
}
#sinisambal {
  background: #adf7b6 url(images/sinisambola.svg) no-repeat center;
  background-size: 70%;
}
#kurakkan {
  background: #adf7b6 url(images/kurakkan.png) no-repeat center;
  background-size: 70%;
}
#thoose {
  background: #adf7b6 url(images/dosa.png) no-repeat center;
  background-size: 60%;
}
#shawarma {
  background: #adf7b6 url(images/shawarma.png) no-repeat center;
  background-size: 60%;
}
#kanda {
  background: #adf7b6 url(images/kanda.png) no-repeat center;
  background-size: 60%;
}
#nothing {
  background-color: rgb(36, 213, 213);
  color: rgb(36, 213, 213);
}
#clear,
#total {
  grid-column: span 2;
}
