body{
    background-color: aqua;
    height: 100%;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#foodcontainer{
    display: grid;
    grid-template-columns: auto auto auto;
}
.items{
    aspect-ratio: 1;
    background-color: rgb(130, 18, 236);
    border: 1px solid white;
    max-width: 33vw;
    text-align: end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#clear , #total {
    aspect-ratio: 1;
    background-color: rgb(241, 248, 30);
    border: 1px solid white;
    max-width: 33vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#moneycontainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.notes{
    background-color: rgb(91, 255, 91);
    aspect-ratio: 1/2;
    max-width: 16.666vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#caesohcontiner{
    display: flex;
    flex-direction: column;
}
#balance{
    height: 44vw;
}
#balanceamount{
    text-align: center;
}
#balance{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: rgb(255, 205, 253);
}
#rolls {
    background: url(rolls.svg) no-repeat top left;
    background-position: center;
}
#patties{
    background: url(patties.svg) no-repeat top left;
    background-position: center;
}
#cutlet{
    background: url(cutlet.svg) no-repeat top left;
    background-position: center;
}
#sandwich{
    background: url(sandwich.svg) no-repeat top left;
    background-position: center;
}#string {
    background: url(string.svg) no-repeat top left;
    background-position: center;
}
#pasta{
    background: url(pasta.svg) no-repeat top left;
    background-position: center;
}#noodles {
    background: url(noodles.svg) no-repeat top left;
    background-position: center;
}
#rice{
    background: url(rice.svg) no-repeat top left;
    background-position: center;
}#icecream {
    background: url(icecream.svg) no-repeat top left;
    background-position: center;
}
#hotdawg{
    background: url(hotdog.svg) no-repeat top left;
    background-position: center;
}
#credits{
    background-color: beige;
}